@model CustomerCreateModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<form role="form" asp-antiforgery="true" asp-action="Create" asp-area="Admin" asp-controller="Customer"
      method="post">
    <div class="card card-default">
        <div class="card-header">
            <h2 class="card-title">Add new customer</h2>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="FirstName" class="input-label">First Name</label>
                        <input type="text" class="form-control" asp-for="FirstName" placeholder="Enter First Name">
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-sm-6">
                    <div class="form-group">
                        <label asp-for="LastName" class="input-label">Last Name</label>
                        <input type="text" class="form-control" asp-for="LastName"
                               placeholder="Enter Last Name">
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-outline-success float-right"><i class="fas fa-save"></i> Submit</button>
        </div>
    </div>
</form>